
<div class="container-fluid page">
    <div class="tabs is-medium">
        <ul>
            <li class="is-active"><a>TWEETS</a></li>
            
        </ul>
    </div>
    <div class="container">

        <div class="feeds">

            <div class="card new_post">

                <div class="card-content">
                   <%= form_for(:post) do |f|%>
                      <div class = "field">
                          <%= f.label "Tweet SOmething", class: 'label'  %>
                          <div class="control">
                            <%= f.text_field :text, class: 'input' %>
                          </div>
                        </div>
                    <% end %>
                    
                </div>

            </div>

            <div class="card tweet_feed">
                <div class="card-header">
                    <div class="card-header-title">
                        <%= @posts.length%> NEW TWEET<%if @posts.length >1 %>S<% end %>
                    </div>
                </div>
                <div class="card-content ">
                    <ul class="tweet_list">
                        <% @posts.each do |post| %>
                        
                        <li class="tweet">
                            <article class="media">
                              <figure class="media-left">
                                <p class="image is-64x64">
                                  <img src="https://bulma.io/images/placeholders/128x128.png">
                                </p>
                              </figure>
                              <div class="media-content">
                                <div class="content">
                                  <p>
                                    <strong></strong> <small>@johnsmith</small> <small><%= time_ago_in_words(post.created_at)%></small>
                                    <br>
                                     <%= post.text %>
                                  </p>
                                </div>
                                <nav class="level is-mobile">
                                  <div class="level-left">
                                    <a class="level-item">
                                      <span class="icon "><i class="fa fa-comment"></i></span>
                                      <span>0</span>
                                    </a>
                                    
                                    <a class="level-item">
                                      <span class="icon "><i class="fa fa-heart"></i></span>
                                      <span>0</span>
                                    </a>
                                  </div>
                                </nav>
                              </div>
                              <div class="media-right">
                                <div class="dropdown is-pulled-right is-small is-rounded is-hoverable">
                                      <div class="dropdown-trigger">
                                        <button class="button is-small is-white" aria-haspopup="true" aria-controls="dropdown-menu6">
                                          
                                          <span class="icon is-small">
                                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                          </span>
                                        </button>
                                      </div>
                                      <div class="dropdown-menu" id="dropdown-menu6" role="menu">
                                        <div class="dropdown-content">
                                          <a class="dropdown-item" href="<%= new_post_path %>">
                                            <span>View</span>
                                          </a>
                                          <a class="dropdown-item" href="<%=  edit_post_path(post) %>">
                                            <span>Edit</span>
                                          </a>
                                          <a class="dropdown-item" href="<%= post_path(post) %>" data-confirm="Are you sure?" data-method="delete" rel="nofollow" >
                                            <span>Delete</span>
                                          </a>
                                          
                                        </div>
                                      </div>
                                    </div>
                              </div>
                            </article>
                        </li>
                        <% end %>
                  
                    </ul>
                </div>
            </div>
        </div>

    </div>
<p id="notice"><%= notice %></p>
                        
</div>
<div class="sidebar">
    <%=render 'sidebar/who_to_follow'%>

    
</div>

